html,body{
    background-color: #bd3944;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1{
    font-size: 80px;
    color: rgb(0, 4, 255);
    text-shadow: 3px 3px 5px black;  

}

a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visted{
    color: rgb(0, 0, 0);

}
a:hover{
    text-shadow: 2px 2px 3px black;

}
